.AutoCompleteText{
    width: 100%;
    border: 1px solid grey;
    box-shadow: 0px 3px 4px rgba(0,0,0,0.6);
    font-size: 18px;
}

.AutoCompleteText input{
    width: 100%;
    border: none;
    padding: 10px 5px;
    box-sizing: border-box;
    outline: none;
    font-size: 18px;
}

.AutoCompleteText ul{
    list-style-type: none;
    text-align: left;
    margin: 0;
    padding: 0;
    border-top: 1px solid grey;

}

.AutoCompleteText ul::before{
    content: "";
}

.AutoCompleteText li{
    padding: 10px 5px;
    cursor: pointer;
}

.AutoCompleteText li::hover{
    text-decoration: underline;
    background-color: rgb(128,128,128,0.20);
}

